<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Ansonika">

  <title id="configTitle">
    Sayfa Yükleniyor..
  </title>
  
  <link href="./../system/requires/angular-notify.css" rel="stylesheet" />
  <script type="text/javascript" src="./../system/requires/loading.js"></script>

  <!-- Favicons-->
  <link rel="apple-touch-icon" sizes="57x57" href="/templates/icon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/templates/icon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/templates/icon//apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/templates/icon//apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="templates/icon//apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="templates/icon//apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/templates/icon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/templates/icon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/templates/icon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/templates/icon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/templates/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/templates/icon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/templates/icon/favicon-16x16.png">
  <link rel="manifest" href="/templates/icon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/templates/icon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  
  <!-- GOOGLE WEB FONT -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">
	
  <!-- Bootstrap core CSS-->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <!-- Icon fonts-->
  <link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Plugin styles -->
  <link href="assets/css/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Main styles -->
  <link href="assets/css/admin.css" rel="stylesheet">
</head>

<body id="rootBody" onload="loadProgressBar();" class="fixed-nav sticky-footer" id="page-top">
  <div id="pageContent" style="display: none" width="50" border="0" cellspacing="0" cellpadding="0">
    <ng-view ng-if="config == undefined"></ng-view>
    <div id="configDisplay" style="display: none" width="50" border="0" cellspacing="0" cellpadding="0" ng-if="config != undefined" data-ng-init="loadProgressBar2()">
      <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-default fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" data-retina="true" alt="" width="36" height="36"> {{ config.root.companyName}}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li ng-repeat="item in config.root.navList | orderBy: 'index'" class="nav-item" data-toggle="tooltip" data-placement="right" title="">
          <a ng-if="item.list.length === 0 || item.list === undefined" class="nav-link" href="{{ item.link }}">
            <i ng-class="item.icon"></i>
            <span class="nav-link-text">{{ item.value }}</span>
          </a>
          <a ng-if="item.list.length > 0" class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#{{ item.tag }}" data-parent="#exampleAccordion">
            <i ng-class="item.icon"></i>
            <span class="nav-link-text">{{ item.value }}</span>
          </a>
          <ul ng-if="item.list.length > 0" class="sidenav-second-level collapse" id="{{ item.tag }}">
            <li ng-repeat="x in item.list | orderBy: 'index'">
              <a href="{{ x.link }}">{{ x.value }}</a>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>{{ config.module.logout.btnLogout }}</a>
        </li>

      </ul>

    </div>
  </nav>
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">

      <div class="content">
        <content ng-view></content>
      </div>

	  </div>
	  <!-- /.container-fluid-->
   	</div>
    <!-- /.container-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright <a  href="#" target="_blank">{{ config.root.companyName }}</a> © 2020 for a better web.</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{config.module.logout.caption}}</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">{{config.module.logout.label}}</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">{{config.module.logout.btnCancel}}</button>
            <a class="btn btn-primary" href="./default.html#!/login">{{config.module.logout.btnLogout}}</a>
          </div>
        </div>
      </div>
    </div>
       
  </div>

    <!-- Bootstrap core JavaScript-->
    <script src="assets/js/jquery.min.js"></script>

    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="assets/js/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="assets/js/jquery.dataTables.js"></script>
    <script src="assets/js/dataTables.bootstrap4.js"></script>
    <script src="assets/js/jquery.selectbox-0.2.js"></script>
    <script src="assets/js/retina-replace.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="assets/js/admin.js"></script>

</div>

<script src="./../system/requires/require.min.js"></script>
<script type="text/javascript" src="./../system/requires/loadapp.js"></script>

</body>
</html>